## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

WARNING:tensorflow:From C:\Users\gc20r\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df=attrition_df[['Attrition','Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [4]:
attrition_df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [5]:
# Create a list of at least 10 column names to use as X data
X_columns=['Age', 'DistanceFromHome',
       'Education', 'EducationField', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction',
       'MaritalStatus', 'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']


# Create X_df using your selected columns
X_df=attrition_df[X_columns]

# Show the data types for X_df
X_df.dtypes

Age                          int64
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [6]:
X_df['MaritalStatus'].unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

In [7]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[['Divorced', 'Single', 'Married']])
X_df['MaritalStatusEncoded']=encoder.fit_transform(X_df[['MaritalStatus']])
X_df=X_df.drop(columns='MaritalStatus')
X_df['MaritalStatusEncoded']

C:\Users\gc20r\AppData\Local\Temp\ipykernel_18696\1673862001.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_df['MaritalStatusEncoded']=encoder.fit_transform(X_df[['MaritalStatus']])

0       1.0
1       2.0
2       1.0
3       2.0
4       2.0
       ...
1465    2.0
1466    2.0
1467    2.0
1468    2.0
1469    2.0
Name: MaritalStatusEncoded, Length: 1470, dtype: float64

In [8]:
X_df['EducationField'].unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

In [9]:
education_categories=['Other', 'Life Sciences', 'Medical', 'Marketing', 'Technical Degree', 'Human Resources']
encoder = OrdinalEncoder(categories=[education_categories])
X_df['EducationFieldEncoded']=encoder.fit_transform(X_df[['EducationField']])
X_df=X_df.drop(columns='EducationField')
X_df['EducationFieldEncoded']

0       1.0
1       1.0
2       0.0
3       1.0
4       2.0
       ...
1465    2.0
1466    2.0
1467    1.0
1468    2.0
1469    2.0
Name: EducationFieldEncoded, Length: 1470, dtype: float64

In [10]:
X_df['OverTime'].unique()

array(['Yes', 'No'], dtype=object)

In [11]:
encoder=OrdinalEncoder(categories=[['No','Yes']])
X_df['OvertimeEncoded']=encoder.fit_transform(X_df[['OverTime']])
X_df=X_df.drop(columns='OverTime')
X_df['OvertimeEncoded']

0       1.0
1       0.0
2       1.0
3       1.0
4       0.0
       ...
1465    0.0
1466    0.0
1467    1.0
1468    0.0
1469    0.0
Name: OvertimeEncoded, Length: 1470, dtype: float64

In [12]:
X_df.dtypes

Age                           int64
DistanceFromHome              int64
Education                     int64
EnvironmentSatisfaction       int64
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobSatisfaction               int64
NumCompaniesWorked            int64
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StockOptionLevel              int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager          int64
MaritalStatusEncoded        float64
EducationFieldEncoded       float64
OvertimeEncoded             float64
dtype: object

In [13]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_df, y_df, random_state=1)

In [14]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary

In [20]:
# Create a StandardScaler
scaler=StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled_df = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [21]:
X_train_scaled_df

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,MaritalStatusEncoded,EducationFieldEncoded,OvertimeEncoded
0,-0.000597,-1.009337,0.080843,-0.660419,-0.325942,0.373771,0.845308,1.167247,0.505016,0.476749,...,0.097499,0.135256,1.790592,-0.142174,0.213549,-0.350760,-0.601092,-0.298291,1.946491,-0.617213
1,-1.097736,-0.761501,1.070722,-1.578176,-0.572230,-1.013082,-0.963487,1.167247,-1.093053,-0.620645,...,-0.806472,-2.193687,0.356557,-0.483145,-0.610247,-0.350760,-0.885020,-0.298291,0.164162,-0.617213
2,-0.768595,0.353763,1.070722,-0.660419,0.412925,-1.013082,-0.963487,-1.589124,-0.693536,0.751097,...,-1.323027,-0.641058,1.790592,-0.994602,-1.159444,-0.663492,-1.168948,0.970886,-0.727003,-0.617213
3,-0.110311,-0.265828,1.070722,-0.660419,-0.030395,0.373771,-0.963487,1.167247,-0.294019,0.751097,...,-0.419056,2.464199,0.356557,-0.142174,-0.610247,-0.663492,-0.885020,-0.298291,-1.618167,-0.617213
4,2.083967,-1.009337,-0.909036,-1.578176,1.201049,0.373771,-0.963487,-1.589124,-0.294019,1.848490,...,-0.806472,0.135256,1.790592,-0.653631,-0.610247,-0.350760,-1.168948,0.970886,-0.727003,-0.617213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097,-0.439453,-1.009337,1.070722,0.257338,0.905503,1.760623,-0.059089,-0.670333,-0.693536,-0.620645,...,-0.677333,-0.641058,0.356557,-0.142174,0.213549,-0.350760,-0.601092,0.970886,-1.618167,1.620185
1098,-0.878309,-1.009337,0.080843,1.175095,1.053276,-1.013082,1.749705,1.167247,0.105499,-0.346296,...,-0.289917,-0.641058,-1.077479,0.028311,0.762746,-0.350760,0.818547,-1.567468,-0.727003,-0.617213
1099,0.328544,-0.389746,-0.909036,0.257338,-1.360355,0.373771,1.749705,1.167247,-0.693536,1.574142,...,1.259746,-0.641058,0.356557,2.415108,0.762746,1.525635,0.818547,-0.298291,0.164162,1.620185
1100,0.657686,0.849436,0.080843,1.175095,0.708471,0.373771,1.749705,1.167247,0.904533,1.848490,...,1.388885,0.135256,0.356557,1.733166,2.410338,-0.350760,1.386403,0.970886,1.055326,1.620185
1101,-1.426878,0.477681,-0.909036,1.175095,0.609956,0.373771,-0.963487,-0.670333,-0.693536,-0.620645,...,-1.323027,-0.641058,0.356557,-0.994602,-1.159444,-0.663492,-1.168948,0.970886,-0.727003,-0.617213

In [30]:
y_test['Department'].unique()

array(['Research & Development', 'Sales', 'Human Resources'], dtype=object)

In [37]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder
dep_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit the encoder to the training data
dep_encoder.fit(y_train['Department'].values.reshape(-1, 1))

# Transform the 'Department' column in both training and testing data
y_train_dep_encoded = dep_encoder.transform(y_train['Department'].values.reshape(-1, 1))
y_test_dep_encoded = dep_encoder.transform(y_test['Department'].values.reshape(-1, 1))

In [38]:
# Create a OneHotEncoder for the Attrition column
attr_encoder=OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)
# Fit the encoder to the training data
attr_encoder.fit(y_train['Attrition'].values.reshape(-1,1))

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attr_encoded=attr_encoder.transform(y_train['Attrition'].values.reshape(-1,1))
y_test_attr_encoded=attr_encoder.transform(y_test['Attrition'].values.reshape(-1,1))

In [39]:
y_train_dep_df=pd.DataFrame(y_train_dep_encoded, columns = dep_encoder.get_feature_names_out())
y_test_dep_df=pd.DataFrame(y_test_dep_encoded, columns = dep_encoder.get_feature_names_out())
y_train_attr_df=pd.DataFrame(y_train_attr_encoded, columns = attr_encoder.get_feature_names_out())
y_test_attr_df=pd.DataFrame(y_test_attr_encoded, columns = attr_encoder.get_feature_names_out())
y_train_encoded=pd.concat([y_train_dep_df,y_train_attr_df],axis=1)
y_test_encoded=pd.concat([y_test_dep_df,y_test_attr_df],axis=1)
y_train_encoded

      x0_Human Resources  x0_Research & Development  x0_Sales  x0_Yes
0                    0.0                        1.0       0.0     0.0
1                    0.0                        1.0       0.0     0.0
2                    0.0                        0.0       1.0     1.0
3                    0.0                        1.0       0.0     0.0
4                    0.0                        1.0       0.0     0.0
...                  ...                        ...       ...     ...
1097                 0.0                        1.0       0.0     0.0
1098                 0.0                        1.0       0.0     0.0
1099                 1.0                        0.0       0.0     0.0
1100                 0.0                        0.0       1.0     0.0
1101                 0.0                        0.0       1.0     0.0

[1102 rows x 4 columns]

In [40]:
y_train_encoded['HR']=y_train_encoded['x0_Human Resources']
y_train_encoded['RaD']=y_train_encoded['x0_Research & Development']
y_train_encoded['Sales']=y_train_encoded['x0_Sales']
y_train_encoded['Attrition']=y_train_encoded['x0_Yes']
y_train_encoded=y_train_encoded.drop(columns=['x0_Human Resources','x0_Research & Development','x0_Sales','x0_Yes'])
y_train_encoded

       HR  RaD  Sales  Attrition
0     0.0  1.0    0.0        0.0
1     0.0  1.0    0.0        0.0
2     0.0  0.0    1.0        1.0
3     0.0  1.0    0.0        0.0
4     0.0  1.0    0.0        0.0
...   ...  ...    ...        ...
1097  0.0  1.0    0.0        0.0
1098  0.0  1.0    0.0        0.0
1099  1.0  0.0    0.0        0.0
1100  0.0  0.0    1.0        0.0
1101  0.0  0.0    1.0        0.0

[1102 rows x 4 columns]

In [41]:
y_test_encoded['HR']=y_test_encoded['x0_Human Resources']
y_test_encoded['RaD']=y_test_encoded['x0_Research & Development']
y_test_encoded['Sales']=y_test_encoded['x0_Sales']
y_test_encoded['Attrition']=y_test_encoded['x0_Yes']
y_test_encoded=y_test_encoded.drop(columns=['x0_Human Resources','x0_Research & Development','x0_Sales','x0_Yes'])
y_test_encoded

      HR  RaD  Sales  Attrition
0    0.0  1.0    0.0        1.0
1    0.0  0.0    1.0        1.0
2    0.0  1.0    0.0        1.0
3    0.0  0.0    1.0        0.0
4    0.0  1.0    0.0        0.0
..   ...  ...    ...        ...
363  0.0  1.0    0.0        0.0
364  0.0  1.0    0.0        0.0
365  0.0  1.0    0.0        0.0
366  0.0  1.0    0.0        1.0
367  0.0  1.0    0.0        0.0

[368 rows x 4 columns]

## Create, Compile, and Train the Model

In [53]:
# Find the number of columns in the X training data
shape_x=X_train_scaled_df.shape[1]

# Create the input layer
input_layer=layers.Input(shape=shape_x,name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [54]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
dep_dense=layers.Dense(16,activation='relu')(shared_layer2)

# Create the output layer
dep_output=layers.Dense(len(y_train_dep_df.columns),activation='sigmoid',name='dep_output')(dep_dense)

In [55]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attr_dense=layers.Dense(16,activation='relu')(shared_layer2)

# Create the output layer
attr_output=layers.Dense(len(y_train_attr_df.columns),activation='sigmoid',name='attr_output')(attr_dense)

In [58]:
# Create the model
model=Model(inputs=input_layer,outputs=[dep_output,attr_output])

# Compile the model
model.compile(optimizer='adam',
             loss={'dep_output':'binary_crossentropy','attr_output':'binary_crossentropy'},
             metrics={'dep_output':'accuracy','attr_output':'accuracy'})

# Summarize the model
model.summary()

Model: "model_4"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_features (InputLayer  [(None, 23)]                 0         []
 )

 dense_4 (Dense)             (None, 64)                   1536      ['input_features[0][0]']

 dense_5 (Dense)             (None, 32)                   2080      ['dense_4[0][0]']

 dense_6 (Dense)             (None, 16)                   528       ['dense_5[0][0]']

 dense_7 (Dense)             (None, 16)                   528       ['dense_5[0][0]']

 dep_output (Dense)          (None, 3)                    51        ['dense_6[0][0]']

 attr_output (Dense)         (None, 1)                    17        ['dense_7[0][0]']

==================================================================================================
Total params: 4740 (18.52 KB)
Trainable params: 4740 (18.52 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [59]:
# Train the model
model.fit(X_train_scaled_df,
         {'dep_output':y_train_dep_encoded,'attr_output':y_train_attr_encoded},
         epochs=50,
         batch_size=16,
         validation_split=0.2)

Epoch 1/50
56/56 [==============================] - 1s 6ms/step - loss: 0.0164 - dep_output_loss: 0.0154 - attr_output_loss: 0.0010 - dep_output_accuracy: 0.9977 - attr_output_accuracy: 1.0000 - val_loss: 3.6722 - val_dep_output_loss: 1.9077 - val_attr_output_loss: 1.7645 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8100
Epoch 2/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0113 - dep_output_loss: 0.0102 - attr_output_loss: 0.0011 - dep_output_accuracy: 0.9989 - attr_output_accuracy: 1.0000 - val_loss: 3.8667 - val_dep_output_loss: 2.0020 - val_attr_output_loss: 1.8647 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 3/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0087 - dep_output_loss: 0.0075 - attr_output_loss: 0.0011 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 3.9405 - val_dep_output_loss: 2.0285 - val_attr_output_loss: 1.9120 - val_dep_output_accuracy: 0.6109 - val_attr_output_accuracy: 0.8009
Epoch 4/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0071 - dep_output_loss: 0.0059 - attr_output_loss: 0.0012 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 3.9341 - val_dep_output_loss: 2.0226 - val_attr_output_loss: 1.9114 - val_dep_output_accuracy: 0.6109 - val_attr_output_accuracy: 0.8281
Epoch 5/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0056 - dep_output_loss: 0.0049 - attr_output_loss: 6.7722e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 3.9415 - val_dep_output_loss: 2.0394 - val_attr_output_loss: 1.9021 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8145
Epoch 6/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0045 - dep_output_loss: 0.0042 - attr_output_loss: 2.6399e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 3.9462 - val_dep_output_loss: 2.0622 - val_attr_output_loss: 1.8841 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8190
Epoch 7/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0040 - dep_output_loss: 0.0038 - attr_output_loss: 2.2843e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 3.9776 - val_dep_output_loss: 2.0841 - val_attr_output_loss: 1.8935 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8235
Epoch 8/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0036 - dep_output_loss: 0.0034 - attr_output_loss: 2.0857e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.0286 - val_dep_output_loss: 2.1123 - val_attr_output_loss: 1.9163 - val_dep_output_accuracy: 0.6109 - val_attr_output_accuracy: 0.8145
Epoch 9/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0035 - dep_output_loss: 0.0033 - attr_output_loss: 1.8674e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.0400 - val_dep_output_loss: 2.1098 - val_attr_output_loss: 1.9302 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 10/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0031 - dep_output_loss: 0.0029 - attr_output_loss: 1.9073e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.0873 - val_dep_output_loss: 2.1465 - val_attr_output_loss: 1.9408 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 11/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0028 - dep_output_loss: 0.0026 - attr_output_loss: 1.7050e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.1429 - val_dep_output_loss: 2.1751 - val_attr_output_loss: 1.9678 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8145
Epoch 12/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0027 - dep_output_loss: 0.0025 - attr_output_loss: 1.5710e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.1705 - val_dep_output_loss: 2.2019 - val_attr_output_loss: 1.9686 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8235
Epoch 13/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0023 - dep_output_loss: 0.0022 - attr_output_loss: 1.5150e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.2020 - val_dep_output_loss: 2.2094 - val_attr_output_loss: 1.9926 - val_dep_output_accuracy: 0.6109 - val_attr_output_accuracy: 0.8100
Epoch 14/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0022 - dep_output_loss: 0.0020 - attr_output_loss: 1.4424e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.2501 - val_dep_output_loss: 2.2483 - val_attr_output_loss: 2.0018 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8281
Epoch 15/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0020 - dep_output_loss: 0.0019 - attr_output_loss: 1.2903e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.2808 - val_dep_output_loss: 2.2581 - val_attr_output_loss: 2.0228 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8190
Epoch 16/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0020 - dep_output_loss: 0.0019 - attr_output_loss: 1.2680e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.3113 - val_dep_output_loss: 2.2803 - val_attr_output_loss: 2.0310 - val_dep_output_accuracy: 0.5928 - val_attr_output_accuracy: 0.8235
Epoch 17/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0018 - dep_output_loss: 0.0017 - attr_output_loss: 1.1848e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.3414 - val_dep_output_loss: 2.3004 - val_attr_output_loss: 2.0410 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8235
Epoch 18/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0016 - dep_output_loss: 0.0015 - attr_output_loss: 1.1701e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.3711 - val_dep_output_loss: 2.3151 - val_attr_output_loss: 2.0559 - val_dep_output_accuracy: 0.6109 - val_attr_output_accuracy: 0.8235
Epoch 19/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0014 - dep_output_loss: 0.0013 - attr_output_loss: 1.0965e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.4041 - val_dep_output_loss: 2.3340 - val_attr_output_loss: 2.0700 - val_dep_output_accuracy: 0.6109 - val_attr_output_accuracy: 0.8281
Epoch 20/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0014 - dep_output_loss: 0.0013 - attr_output_loss: 1.0327e-04 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.4628 - val_dep_output_loss: 2.3718 - val_attr_output_loss: 2.0909 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 21/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0012 - dep_output_loss: 0.0011 - attr_output_loss: 9.7747e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.4895 - val_dep_output_loss: 2.3973 - val_attr_output_loss: 2.0922 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 22/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0012 - dep_output_loss: 0.0011 - attr_output_loss: 8.9773e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.5294 - val_dep_output_loss: 2.4139 - val_attr_output_loss: 2.1155 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 23/50
56/56 [==============================] - 0s 2ms/step - loss: 0.0011 - dep_output_loss: 0.0010 - attr_output_loss: 8.3982e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.5406 - val_dep_output_loss: 2.4282 - val_attr_output_loss: 2.1124 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 24/50
56/56 [==============================] - 0s 3ms/step - loss: 9.9692e-04 - dep_output_loss: 9.1640e-04 - attr_output_loss: 8.0516e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.5940 - val_dep_output_loss: 2.4645 - val_attr_output_loss: 2.1295 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235

Epoch 25/50
56/56 [==============================] - 0s 2ms/step - loss: 9.3430e-04 - dep_output_loss: 8.5882e-04 - attr_output_loss: 7.5481e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.6115 - val_dep_output_loss: 2.4752 - val_attr_output_loss: 2.1363 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 26/50
56/56 [==============================] - 0s 2ms/step - loss: 8.7976e-04 - dep_output_loss: 8.0084e-04 - attr_output_loss: 7.8918e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.6528 - val_dep_output_loss: 2.4904 - val_attr_output_loss: 2.1624 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 27/50
56/56 [==============================] - 0s 2ms/step - loss: 8.3348e-04 - dep_output_loss: 7.6140e-04 - attr_output_loss: 7.2086e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.6773 - val_dep_output_loss: 2.5098 - val_attr_output_loss: 2.1675 - val_dep_output_accuracy: 0.5973 - val_attr_output_accuracy: 0.8235
Epoch 28/50
56/56 [==============================] - 0s 2ms/step - loss: 7.5611e-04 - dep_output_loss: 6.9380e-04 - attr_output_loss: 6.2312e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.7079 - val_dep_output_loss: 2.5309 - val_attr_output_loss: 2.1770 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 29/50
56/56 [==============================] - 0s 2ms/step - loss: 7.2122e-04 - dep_output_loss: 6.5961e-04 - attr_output_loss: 6.1614e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.7428 - val_dep_output_loss: 2.5517 - val_attr_output_loss: 2.1910 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8145
Epoch 30/50
56/56 [==============================] - 0s 2ms/step - loss: 6.7750e-04 - dep_output_loss: 6.2093e-04 - attr_output_loss: 5.6566e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.7826 - val_dep_output_loss: 2.5820 - val_attr_output_loss: 2.2006 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8235
Epoch 31/50
56/56 [==============================] - 0s 2ms/step - loss: 6.3396e-04 - dep_output_loss: 5.7988e-04 - attr_output_loss: 5.4084e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.8017 - val_dep_output_loss: 2.5882 - val_attr_output_loss: 2.2135 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8235
Epoch 32/50
56/56 [==============================] - 0s 2ms/step - loss: 5.9115e-04 - dep_output_loss: 5.4126e-04 - attr_output_loss: 4.9885e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.8348 - val_dep_output_loss: 2.6128 - val_attr_output_loss: 2.2220 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8145
Epoch 33/50
56/56 [==============================] - 0s 2ms/step - loss: 5.7442e-04 - dep_output_loss: 5.1720e-04 - attr_output_loss: 5.7220e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.8750 - val_dep_output_loss: 2.6321 - val_attr_output_loss: 2.2429 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8145
Epoch 34/50
56/56 [==============================] - 0s 2ms/step - loss: 5.2896e-04 - dep_output_loss: 4.8410e-04 - attr_output_loss: 4.4858e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.9088 - val_dep_output_loss: 2.6533 - val_attr_output_loss: 2.2555 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 35/50
56/56 [==============================] - 0s 2ms/step - loss: 5.0237e-04 - dep_output_loss: 4.5960e-04 - attr_output_loss: 4.2766e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.9263 - val_dep_output_loss: 2.6607 - val_attr_output_loss: 2.2656 - val_dep_output_accuracy: 0.5973 - val_attr_output_accuracy: 0.8235
Epoch 36/50
56/56 [==============================] - 0s 2ms/step - loss: 4.6948e-04 - dep_output_loss: 4.2851e-04 - attr_output_loss: 4.0970e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.9659 - val_dep_output_loss: 2.6921 - val_attr_output_loss: 2.2739 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8190
Epoch 37/50
56/56 [==============================] - 0s 2ms/step - loss: 4.4315e-04 - dep_output_loss: 4.0581e-04 - attr_output_loss: 3.7342e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 4.9838 - val_dep_output_loss: 2.6952 - val_attr_output_loss: 2.2886 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 38/50
56/56 [==============================] - 0s 3ms/step - loss: 4.3384e-04 - dep_output_loss: 3.9697e-04 - attr_output_loss: 3.6862e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.0041 - val_dep_output_loss: 2.7077 - val_attr_output_loss: 2.2964 - val_dep_output_accuracy: 0.5928 - val_attr_output_accuracy: 0.8145
Epoch 39/50
56/56 [==============================] - 0s 2ms/step - loss: 4.0947e-04 - dep_output_loss: 3.7462e-04 - attr_output_loss: 3.4854e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.0431 - val_dep_output_loss: 2.7307 - val_attr_output_loss: 2.3124 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8190
Epoch 40/50
56/56 [==============================] - 0s 2ms/step - loss: 3.7980e-04 - dep_output_loss: 3.4472e-04 - attr_output_loss: 3.5081e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.0721 - val_dep_output_loss: 2.7536 - val_attr_output_loss: 2.3185 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 41/50
56/56 [==============================] - 0s 2ms/step - loss: 3.6197e-04 - dep_output_loss: 3.3033e-04 - attr_output_loss: 3.1639e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.0936 - val_dep_output_loss: 2.7673 - val_attr_output_loss: 2.3263 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8190
Epoch 42/50
56/56 [==============================] - 0s 2ms/step - loss: 3.5467e-04 - dep_output_loss: 3.2358e-04 - attr_output_loss: 3.1095e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.1175 - val_dep_output_loss: 2.7783 - val_attr_output_loss: 2.3392 - val_dep_output_accuracy: 0.5973 - val_attr_output_accuracy: 0.8190
Epoch 43/50
56/56 [==============================] - 0s 2ms/step - loss: 3.2603e-04 - dep_output_loss: 2.9756e-04 - attr_output_loss: 2.8471e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.1257 - val_dep_output_loss: 2.7810 - val_attr_output_loss: 2.3447 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8190
Epoch 44/50
56/56 [==============================] - 0s 2ms/step - loss: 3.8662e-04 - dep_output_loss: 3.5533e-04 - attr_output_loss: 3.1288e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.1524 - val_dep_output_loss: 2.8031 - val_attr_output_loss: 2.3492 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8145
Epoch 45/50
56/56 [==============================] - 0s 2ms/step - loss: 3.2108e-04 - dep_output_loss: 2.9380e-04 - attr_output_loss: 2.7279e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.1889 - val_dep_output_loss: 2.8229 - val_attr_output_loss: 2.3660 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8190
Epoch 46/50
56/56 [==============================] - 0s 2ms/step - loss: 2.8839e-04 - dep_output_loss: 2.6224e-04 - attr_output_loss: 2.6142e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.2154 - val_dep_output_loss: 2.8395 - val_attr_output_loss: 2.3759 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8145
Epoch 47/50
56/56 [==============================] - 0s 2ms/step - loss: 2.6543e-04 - dep_output_loss: 2.4096e-04 - attr_output_loss: 2.4463e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.2455 - val_dep_output_loss: 2.8590 - val_attr_output_loss: 2.3865 - val_dep_output_accuracy: 0.5882 - val_attr_output_accuracy: 0.8235
Epoch 48/50

56/56 [==============================] - 0s 2ms/step - loss: 2.5843e-04 - dep_output_loss: 2.3569e-04 - attr_output_loss: 2.2735e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.2672 - val_dep_output_loss: 2.8642 - val_attr_output_loss: 2.4029 - val_dep_output_accuracy: 0.6018 - val_attr_output_accuracy: 0.8235
Epoch 49/50
56/56 [==============================] - 0s 2ms/step - loss: 2.4070e-04 - dep_output_loss: 2.1871e-04 - attr_output_loss: 2.1990e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.3007 - val_dep_output_loss: 2.8890 - val_attr_output_loss: 2.4117 - val_dep_output_accuracy: 0.5882 - val_attr_output_accuracy: 0.8235
Epoch 50/50
56/56 [==============================] - 0s 2ms/step - loss: 2.2671e-04 - dep_output_loss: 2.0564e-04 - attr_output_loss: 2.1067e-05 - dep_output_accuracy: 1.0000 - attr_output_accuracy: 1.0000 - val_loss: 5.3235 - val_dep_output_loss: 2.9042 - val_attr_output_loss: 2.4193 - val_dep_output_accuracy: 0.6063 - val_attr_output_accuracy: 0.8235

In [61]:
# Evaluate the model with the testing data
results=model.evaluate(X_test_scaled_df,
         {'dep_output':y_test_dep_encoded,'attr_output':y_test_attr_encoded})
print(results)

12/12 [==============================] - 0s 2ms/step - loss: 4.5435 - dep_output_loss: 2.2700 - attr_output_loss: 2.2735 - dep_output_accuracy: 0.6250 - attr_output_accuracy: 0.8179
[4.543471813201904, 2.269989252090454, 2.27348256111145, 0.625, 0.8179348111152649]

In [62]:
# Print the accuracy for both department and attrition
print(f"Department predictions accuracy: {results[3]}")
print(f"Attrition predictions accuracy: {results[4]}")

Department predictions accuracy: 0.625
Attrition predictions accuracy: 0.8179348111152649

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. I think it's a valid metric to use, but how I would look at this data is through multiple metrics. I would want to see the false positives and negatives, and the f1 score as well just to observe the overall health of the model.
2. I went with a sigmoid activation for my output layers as the format of the target data was 0's and 1's, it was the simplest to utilize since it outputs 0 or 1.
3. The model could be improved